 {% extends 'base.html.twig' %}

{% block body %}
<!-- Content -->
<div class="page-content">
    <!--Image accueil-->
    <div class="parallax"></div> 

    <!-- About Us -->
    <div class="section-full parallax-about content-inner-1 dlab-about-1" id="about-us" 
    style="background-image: url({{asset('uploads/images/content/' ~ content.accueil_image_about_background)}})">
        <div class="container">
        <div class="section-head text-white text-center">
                <h2 class="text-uppercase textwhite" >{{ content.accueil_title_about |raw}}</h2>
                <div class="dlab-separator bg-light"></div>
            </div>
            <div class="row equal-wraper">
                <div class="col-lg-12 col-md-12 dis-tbl equal-col text-md-left text-sm-center px-5">
                    <div class="dis-tbl-cell text-about">
                        {{ content.accueil_section1_text |raw}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About Us END -->
	
    <!-- Yoga -->
    <div class="section-full parallax-yoga content-inner-1" id="yoga" style="background-image: url({{asset('uploads/images/content/' ~ content.accueil_image_yoga_background)}})">
        <div class="container">
            <div class="section-head text-white text-center">
                <h2 class="text-uppercase textwhite">{{ content.accueil_title_yoga |raw}}</h2>
                <div class="dlab-separator bg-light"></div>
            </div>
            <div class="row equal-wraper">
                <div class="col-lg-12 col-md-12 dis-tbl equal-col text-md-left text-sm-center">
                    <div class="dis-tbl-cell text-yoga">
                        {{ content.accueil_section2_text |raw}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Yoga END -->

    <!-- Practice Accordion bootstrap  -->
    <div class="section-full parallax-practice bg-white content-inner" id="practice" style="background-image: url({{asset('uploads/images/content/' ~ content.accueil_image_practice_background)}})">
        <div class="container">
            <div class="section-head text-white text-center">
                <h2 class="text-uppercase textwhite">{{ content.accueil_title_practice |raw}}</h2>
                <div class="dlab-separator bg-light"></div>
                <p class="text-practice">{{ content.practice_underheader |raw}}</p>
            </div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <div class="box-sort-in m-b30">
                            <div class="dlab-accordion toggle space" id="accordion7">
                                <div class="panel">
                                    <div class="acod-head">
                                        <h6 class="acod-title text-center"> <a data-toggle="collapse" href="#collapseOne7" class="collapsed"> {{ content.practice_header_1 |raw}}</a> </h6>
                                    </div>
                                    <div id="collapseOne7" class="acod-body collapse">
                                        <div class="acod-content">{{ content.accueil_section_openclass_text |raw}}</div>
                                    </div>
                                </div>
                                <div class="panel">
                                    <div class="acod-head">
                                        <h6 class="acod-title text-center"> <a data-toggle="collapse" href="#collapseTwo7" class="collapsed">{{ content.practice_header_2 |raw}}</a> </h6>
                                    </div>
                                    <div id="collapseTwo7" class="acod-body collapse">
                                        <div class="acod-content">{{ content.accueil_section_privatesession_text |raw}}</div>
                                    </div>
                                </div>
                                <div class="panel">
                                    <div class="acod-head">
                                        <h6 class="acod-title text-center"> <a data-toggle="collapse" href="#collapseThree7" class="collapsed"> {{ content.practice_header_3 |raw}}</a> </h6>
                                    </div>
                                    <div id="collapseThree7" class="acod-body collapse">
                                        <div class="acod-content">{{ content.accueil_section_events_text |raw}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>	
    </div>	
    <!-- Practice END -->

    <!-- NOTES -  Blog -->
    <div class="section-full bg-white content-inner-1" id="notes">
        <div class="container">
            <div class="section-head text-black text-center">
                <h2 class="text-uppercase">{{ content.accueil_title_notes |raw}}</h2>
                <div class="dlab-separator bg-primary"></div>
                <p>{{ content.notes_underheader |raw}}</p>
            </div>
            <div class="section-content">
                <div class="blog-carousel mfp-gallery gallery owl-loaded owl-none owl-theme owl-carousel owl-dots-style">
                {% for article  in articles %}
                    <div class="item">
                        <div class="ow-blog-post"> 
                            <div class="ow-post-media dlab-img-effect zoom-slow" > <img src="{{ vich_uploader_asset(article, 'imageFile')  }}" width="400" height="500" alt="{{article.title}}"> </div>
                            <div class="ow-post-info ">
                                <div class="ow-post-title">
                                    <h5 class="post-title"> <a href="{{ path ('article', {slug:article.slug}) }}" title="Video post">{{article.title}}</a> </h5>
                                </div>
                                <div class="ow-post-meta">
                                    <ul>
                                        <li class="post-date"> <i class="fa fa-calendar"></i><strong>{{article.dateCreation|date('d/m/Y')}}</strong></li>
                                        <li class="post-author"><i class="fa fa-user"></i>By <a href="#" title="Posts by demongo" rel="author">{{ article.author }}</a> </li>
                                    </ul>
                                </div>
                                <div class="ow-post-text">
                                    <p>{{ article.text|striptags|length > 150 ? article.text|striptags|easyadmin_truncate(150, true, "...")|raw  : article.text|striptags|raw }}</p>
                                </div>  
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div> 
        </div>
    </div>
    <!-- NOTES - Blog END -->
    

    <!-- Contact -->
    <div class="section-full parallax-contact" id="contact" style="background-image: url({{asset('uploads/images/content/' ~ content.accueil_image_contact_background)}})">
        <div class="dzseth">
            <div class="container">
                <div class="content-inner-1">
                    <div class="section-head text-center">
                        <h2 class="text-uppercase text-white">{{ content.accueil_title_contact |raw}} </h2>
                        <div class="dlab-separator bg-light"></div>
                        <p class="text-contact px-2">{{ content.accueil_section_contact |raw}}</p>
                    </div>
                    <div class="p-lr30 clearfix m-b30 contact-style-1 py-1">
                        <div class="row justify-content-center">
                            <div class="col-xl-10 col-lg-10 col-md-6 col-xs-6 col-sm-6">
                                <div class="dzFormMsg"></div>
                                <form method="post" class="dzForm" action="{{ path('contact') }}">
                                <input type="hidden" value="Contact" name="whichform" >
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input name="lastname" type="text" required class="form-control" placeholder="Your Last Name" id="lastname">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input name="firstname" type="text" required class="form-control" placeholder="Your First Name" id="firstname">
                                                </div>
                                            </div>
                                        </div>
                                        
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <div class="input-group"> 
                                                    <input name="email" type="email" class="form-control"  required  placeholder="Your Email" id="email">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input name="subject" type="text" required class="form-control"  placeholder="Subject" id="subject">
                                                </div>
                                            </div>
                                        </div>
                                            <div class="col-lg-12">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <textarea name="message" rows="4" class="form-control" required placeholder="Your Message..." id="message"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <button name="submit" type="submit" value="Submit" class="site-button "> <span>Submit</span> </button>
                                        </div>
                                    </div><!--/row-->
                                </form>
                            </div><!--/col-7-->
                        </div><!--/row-->
                    </div><!--/p-lr30-->
                </div><!--/content inner-1-->
            </div><!--/container-->
        </div><!--/row-->
    </div><!--/section-->
    <!-- Contact END -->

</div>
<!--/page content-->
{% endblock %}

