<!-- header -->
<header class="site-header header navbar-expand-lg">
    <!-- main header -->
    <div class="sticky-header main-bar-wraper">
        <div class="main-bar clearfix onepage">
            <div class="container clearfix">
                <!-- website logo -->
                <div class="logo-header mostion">
                    <a href="{{ path('accueil') }}"><img src="{{ asset('/images/YOMlogo.png') }}" alt="Yom logo"></a>
                </div>
                {#<!-- nav toggle button -->
                <button class="navbar-toggler collapsed navicon justify-content-end" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation"><span></span><span></span><span></span></button>
                <!-- main nav --> #}
                <div class="header-nav navbar-collapse collapse navbar myNavbar justify-content-end" >
                    <ul class="nav navbar-nav">
                        <li ><a href="{{ path('accueil') }}#about-us" class="nav-link {{ linkScroll }}">About</a></li>
                        <li><a href="{{ path('accueil') }}#yoga" class="nav-link {{ linkScroll }}">Yoga</a></li>
                        <li><a href="{{ path('accueil') }}#practice" class="nav-link {{ linkScroll }}">Practice</a></li>
                        <li><a href="{{ path('articles') }}" class="nav-link {{ currentPage starts with 'article' ? 'active' }}">Notes</a></li>
                        <li><a href="{{ path('accueil') }}#contact" class="nav-link {{ linkScroll }}">Contact</a></li>
                        <li><a href="https://www.instagram.com/hanakortegaard/" target="_blank" class="nav-link"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="https://www.facebook.com/hanakortegaard" target="_blank" class="nav-link"><i class="fa fa-facebook-square"></i></a></li>
                        <li><a href="http://www.linkedin.com/in/hana-hnilicova-kortegaard" target="_blank" class="nav-link"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="https://www.youtube.com/channel/UCNitqPDyuOoWeQ6qz0xbcsQ/about" target="_blank" class="nav-link"><i class="fa fa-youtube"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- main header END -->
</header>
<!-- header END -->
