{% extends 'base.html.twig' %}

{% block title %}Yom Yoga!{% endblock %}

{% block body %}
<!-- Content -->
<div class="page-content">
    <div class="parallax"></div> 
    <!-- Slider -->
    {# <div class="main-slider style-two default-banner" id="home">
        <div class="tp-banner-container">
            <div class="tp-banner" >
                <div id="rev_slider_1175_1_wrapper" class="rev_slider_wrapper fullscreen-container" data-alias="duotone192" data-source="gallery" style="background-color:transparent;padding:0px;">
                    <!-- START REVOLUTION SLIDER 5.3.0.2 fullscreen mode -->
                    <div id="rev_slider_1175_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.3.0.2">
                        <ul>	<!-- SLIDE  -->
                            <li data-index="rs-3239" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="default"  data-thumb="images/main-slider/yoga1.jpg"  data-rotate="0"  data-fstransition="fade" data-fsmasterspeed="300" data-fsslotamount="7" data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
                                <!-- MAIN IMAGE -->
                                <img src="images/hanka.jpg"  alt=""  data-lazyload="images/hanka.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="3" class="rev-slidebg" data-no-retina>
                                <!-- LAYERS -->
                            
                            </li>
                        </ul>
                    </div>
                </div>        
            </div>        
        </div>        
    </div>    #}
    <!-- Slider END -->

    <!-- About Us -->
    <div class="section-full bg-white content-inner-1 dlab-about-1" id="about-us">
        <div class="container">
            <div class="row equal-wraper">
                <div class="col-lg-2 col-md-2 dis-tbl equal-col text-md-left text-sm-center text-center">
                    <div class="dis-tbl-cell text-center pb-5">
                        {# <h4 class="m-b10">Hi, I'm Hana</h4> #}
                        <h2 class="m-mb-10"><br>Hi, <br> I'm Hana</h2>
                        
                    </div>
                </div>
                <div class="col-lg-10 col-md-10 dis-tbl equal-col text-md-left text-sm-center text-center">
                    <div class="dis-tbl-cell text-center pb-3">
                        {# <h4 class="m-b10">Hi, I'm Hana</h4> #}
                        <h5 class="text-right">{{ content.accueil_section1_text |raw}}</h5>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="section-full bg-dark text-white content-inner-1 dlab-about">
        <div class="container">
            <div class="row equal-wraper">
                <div class="col-lg-9 col-md-9  ">
                    <div class="dis-tbl-cell text-left pt-4 font-italic">
                        <h4 >{{ content.accueil_section2_text |raw }}
                            {# <a href="" class="site-button radius-xl outline outline-2 ">Read More</a> #}
                        </h4>   
                    </div>  
                </div>
                <div class="col-lg-3 col-md-3  ">
                    <img src="{{ content.accueil_image_voiture }}" height="400" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- About Us END -->
    <!-- Stats -->
    {# <div class="section-full bg-white content-inner overlay-primary-dark bg-img-fix dlab-stats parallax" style="background-image: url(images/background/bg2.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                    <div class="stats text-white m-b20 text-center" >
                        <div class="icon-md m-b20"><i class="fa fa-building-o"></i></div>
                        <h2 class="counter font-26 font-weight-800 m-b5 m-t0">1035</h2>
                        <span>Active Experts</span> 
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                    <div class="stats text-white m-b20 text-center" >
                        <div class="icon-md m-b20"><i class="fa fa-group "></i></div>
                        <h2 class="counter font-26 font-weight-800 m-b5 m-t0">1226</h2>
                        <span>Happy Client</span> 
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                    <div class="stats text-white m-b20 text-center" >
                        <div class="icon-md m-b20"><i class="fa fa-slideshare "></i></div>
                        <h2 class="counter font-26 font-weight-800 m-b5 m-t0">1551</h2>
                        <span>Developer Hand</span> 
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-6">
                    <div class="stats text-white m-b20 text-center" >
                        <div class="icon-md m-b20"><i class="fa fa-home "></i></div>
                        <h2 class="counter font-26 font-weight-800 m-b5 m-t0">1156</h2>
                        <span>Completed Project</span> 
                    </div>
                </div>
            </div>
        </div>
    </div> #}
    <!-- Stats END -->		
    <!-- Yoga -->
    {# <div class="section-full bg-white content-inner" id="yoga">
        <div class="container">
            <div class="section-head text-black text-center">
                <h2 class="text-uppercase">Our Creative Team</h2>
                <div class="dlab-separator bg-primary"></div>
                <p>Our department is here to ensure personalized guidance. Our smart team takes care of everything. The entire team has been great to work with from start to finish.</p>
            </div>
            <div class="section-content text-center ">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="dlab-box m-b30">
                            <div class="dlab-media dlab-img-overlay1 dlab-img-effect"> <a href="javascript:;"> <img alt="" src="images/our-team/pic1.jpg" width="358" height="460"> </a>
                                <div class="dlab-info-has bg-primary">
                                    <ul class="dlab-social-icon border">
                                        <li><a class="fa fa-facebook" href="javascript:void(0);"></a></li>
                                        <li><a class="fa fa-twitter" href="javascript:void(0);"></a></li>
                                        <li><a class="fa fa-linkedin" href="javascript:void(0);"></a></li>
                                        <li><a class="fa fa-facebook" href="javascript:void(0);"></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="p-lr10 p-tb20 bg-gray">
                                <h5 class="dlab-title text-uppercase"><a href="javascript:;">Nashid Martines</a></h5>
                                <span class="dlab-member-position">Fitness Trainer</span> 
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="dlab-box m-b30">
                            <div class="dlab-media dlab-img-overlay1 dlab-img-effect"> <a href="javascript:;"> <img alt="" src="images/our-team/pic2.jpg" width="358" height="460"> </a>
                                <div class="dlab-info-has bg-primary">
                                    <ul class="dlab-social-icon border">
                                        <li><a class="fa fa-facebook" href="javascript:void(0);"></a></li>
                                        <li><a class="fa fa-twitter" href="javascript:void(0);"></a></li>
                                        <li><a class="fa fa-linkedin" href="javascript:void(0);"></a></li>
                                        <li><a class="fa fa-facebook" href="javascript:void(0);"></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="p-lr10 p-tb20 bg-gray">
                                <h5 class="dlab-title text-uppercase"><a href="javascript:;">Hackson Willingham</a></h5>
                                <span class="dlab-member-position">Project Manager</span> 
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="dlab-box m-b30">
                            <div class="dlab-media dlab-img-overlay1 dlab-img-effect"> <a href="javascript:;"> <img alt="" src="images/our-team/pic3.jpg" width="358" height="460"> </a>
                                <div class="dlab-info-has bg-primary">
                                    <ul class="dlab-social-icon border">
                                        <li><a class="fa fa-facebook" href="javascript:void(0);"></a></li>
                                        <li><a class="fa fa-twitter" href="javascript:void(0);"></a></li>
                                        <li><a class="fa fa-linkedin" href="javascript:void(0);"></a></li>
                                        <li><a class="fa fa-facebook" href="javascript:void(0);"></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="p-lr10 p-tb20 bg-gray">
                                <h5 class="dlab-title text-uppercase"><a href="javascript:;">konne Backfield</a></h5>
                                <span class="dlab-member-position">Yoga Partner</span> 
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="dlab-box m-b10">
                            <div class="dlab-media dlab-img-overlay1 dlab-img-effect"> <a href="javascript:;"> <img alt="" src="images/our-team/pic4.jpg" width="358" height="460"> </a>
                                <div class="dlab-info-has bg-primary">
                                    <ul class="dlab-social-icon border">
                                        <li><a class="fa fa-facebook" href="javascript:void(0);"></a></li>
                                        <li><a class="fa fa-twitter" href="javascript:void(0);"></a></li>
                                        <li><a class="fa fa-linkedin" href="javascript:void(0);"></a></li>
                                        <li><a class="fa fa-facebook" href="javascript:void(0);"></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="p-lr10 p-tb20 bg-gray">
                                <h5 class="dlab-title text-uppercase"><a href="javascript:;">konne Backfield</a></h5>
                                <span class="dlab-member-position">Online Trainer</span> 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div> #}
    <!-- Yoga END -->
    <!-- Yoga -->
    <div class="section-full bg-gray content-inner what-we-do overlay-white-dark" id="yoga" style="background-image:url(images/blackandwhite.jpg);">
        <div class="container">
            <div class="section-head text-center text-black">
                <h2 class="text-uppercase">Yoga</h2>
                <div class="dlab-separator bg-primary"></div>
                <p>I teach Vinyasa Flow and Yoga Nidra. My approach is simple, practical and down to earth.</p>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6 m-b30">
                    <div class="icon-bx-wraper center p-a30 draw">
                        <div class="icon-md  text-primary m-b20"> <span class="icon-cell"><i class="fa fa-bell text-gd"></i></span> </div>
                        <div class="icon-content">
                            <div class="dlab-separator bg-primary"></div>
                            <h4 class="dlab-tilte">Hatha Vinyasa yoga</h4>
                            <p>The class is based in ásana practice(poses), pranayama(breathing techniques), hands-on assists and final relaxation.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 m-b30">
                    <div class="icon-bx-wraper center p-a30 draw">
                        <div class="icon-md  text-primary m-b20"> <span class="icon-cell"><i class="fa fa-users text-gd"></i></span> </div>
                        <div class="icon-content">
                            <div class="dlab-separator bg-primary"></div>
                            <h4 class="dlab-tilte">Small Group Classes</h4>
                            <p>I offer group yoga nidra sessions, as well as co-creative one-on-one sessions.                </p>
                           
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 m-b30">
                    <div class="icon-bx-wraper center p-a30 draw">
                        <div class="icon-md  text-primary m-b20"> <span class="icon-cell"><i class="fa fa-refresh text-gd"></i></span> </div>
                        <div class="icon-content">
                            <div class="dlab-separator bg-primary"></div>
                            <h4 class="dlab-tilte">Renewing Your Mind</h4>
                            <p>Key words defining my approach are self-awareness, value, empathy, inspiration and best practice.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 m-b30">
                    <div class="icon-bx-wraper center p-a30 draw">
                        <div class="icon-md  text-primary m-b20"> <span class="icon-cell"><i class="fa fa-rocket text-gd"></i></span> </div>
                        <div class="icon-content">
                            <div class="dlab-separator bg-primary"></div>
                            <h4 class="dlab-tilte">Vinyasa a style of Hatha Yoga</h4>
                            <p>Sometimes it is called Flow yoga, in which breath and movement unfolds synchronously and continuously into what becomes a yoga sequence. 
                            And so whilst the breath underlines the movement, poses unfold  one after another.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 m-b30">
                    <div class="icon-bx-wraper center p-a30 draw">
                        <div class="icon-md  text-primary m-b20"> <span class="icon-cell"><i class="fa fa-comments text-gd"></i></span> </div>
                        <div class="icon-content">
                            <div class="dlab-separator bg-primary"></div>
                             <h4 class="dlab-tilte">During the classes</h4>
                            <p>Balancing effort and surrender in each pose, as well as movement and stillness throughout the whole practice, so that once intentions and sensations are integrated, the flow naturally unfolds.  </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6 m-b30">
                    <div class="icon-bx-wraper center p-a30 draw">
                        <div class="icon-md  text-primary m-b20"> <span class="icon-cell"><i class="fa fa-heart text-gd"></i></span> </div>
                        <div class="icon-content">
                            <div class="dlab-separator bg-primary"></div>
                            <h4 class="dlab-tilte">Yoga Nidra</h4>
                            <p>Yoga nidra(translates as yogic sleep) is an ultimate relaxation practice and truly potent meditative resource for healing and empowerment.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Yoga END -->

    <!-- Coaching  -->
    {# <div class="section-full content-inner-2 bg-white creative-work" id="coaching">
        <div class="section-head  text-center text-black">
            <h2 class="text-uppercase">Coaching</h2>
            <div class="dlab-separator bg-primary"></div>
            <p>I am also a mental coach in training...</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non quis reprehenderit 
            molestias nihil suscipit possimus commodi, ullam excepturi labore numquam minus autem 
            eaque dicta rerum doloremque, aliquam dolor unde quos!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non quis reprehenderit 
            molestias nihil suscipit possimus commodi, ullam excepturi labore numquam minus autem 
            eaque dicta rerum doloremque, aliquam dolor unde quos!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Non quis reprehenderit 
            molestias nihil suscipit possimus commodi, ullam excepturi labore numquam minus autem 
            eaque dicta rerum doloremque, aliquam dolor unde quos!</p>
        </div>
    </div> #}
    <!-- Coaching END -->

    <!-- Pricing Accordion Bg Primary  -->
    <div class="section-full bg-white content-inner" id="prices">
        <div class="container">
            <div class="section-head text-black text-center">
                <h2 class="text-uppercase">Prices</h2>
                <div class="dlab-separator bg-primary"></div>
                <p>These are my actual prices for private or group lessons. </p>
            </div>
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <div class="box-sort-in m-b30">
                            <div class="dlab-accordion toggle space" id="accordion7">
                                <div class="panel">
                                    <div class="acod-head">
                                        <h6 class="acod-title text-center"> <a data-toggle="collapse" href="#collapseOne7" class="collapsed"> Private Lessons</a> </h6>
                                    </div>
                                    <div id="collapseOne7" class="acod-body collapse">
                                        <div class="acod-content">Web design lorem ipsum dolor sit amet, adipiscing elit, sed diam nibh euismod tincidunt ut laoreet 
                                            dolore magna aliquam erat volutpat. Claritas est etiam processus. ipsum dolor sit amet, consectetuer adipiscing elit, sed diam 
                                            nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Claritas est etiam processus.</div>
                                    </div>
                                </div>
                                <div class="panel">
                                    <div class="acod-head">
                                        <h6 class="acod-title text-center"> <a data-toggle="collapse" href="#collapseTwo7" class="collapsed">Group lessons</a> </h6>
                                    </div>
                                    <div id="collapseTwo7" class="acod-body collapse">
                                        <div class="acod-content">Graphic design lorem ipsum dolor sit amet, adipiscing elit, sed diam nibh euismod tincidunt ut laoreet 
                                            dolore magna aliquam erat volutpat. Claritas est etiam processus. ipsum dolor sit amet, consectetuer adipiscing elit, sed diam 
                                            nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Claritas est etiam processus.</div>
                                    </div>
                                </div>
                                <div class="panel">
                                    <div class="acod-head">
                                        <h6 class="acod-title text-center"> <a data-toggle="collapse" href="#collapseThree7" class="collapsed"> Classes in a studio</a> </h6>
                                    </div>
                                    <div id="collapseThree7" class="acod-body collapse">
                                        <div class="acod-content">Developement lorem ipsum dolor sit amet, adipiscing elit, sed diam nibh euismod tincidunt ut laoreet 
                                            dolore magna aliquam erat volutpat. Claritas est etiam processus. ipsum dolor sit amet, consectetuer adipiscing elit, sed diam 
                                            nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.Claritas est etiam processus.</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {# <div class="row">
                <div class="pricingtable-row pricingtable-style1 col-lg-12">
                    <div class="row">
                        <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4">
                            <div class="pricingtable-wrapper ">
                                <div class="pricingtable-inner draw">
                                    <div class="pricingtable-title">
                                        <h3>15 days free</h3>
                                        <p>We are passionate about our clients. Pricing subject to volume.</p>
                                    </div>
                                    <div class="pricingtable-price"> 
                                        <span class="pricingtable-bx">$99</span> 
                                        <span class="pricingtable-type">Month</span> 
                                    </div>
                                    <ul class="pricingtable-features">
                                        <li><i class="fa fa-check"></i> New Yoga Classes Added Weekly</li>
                                        <li><i class="fa fa-check"></i> Practice Yoga Anytime, Anywhere</li>
                                        <li><i class="fa fa-check"></i> Save 15% Instantly</li>
                                        <li><i class="fa fa-check"></i> Technical Support </li>
                                        <li><i class="fa fa-check"></i> Much more..</li>
                                    </ul>
                                    <div class="pricingtable-footer"> 
                                        <a href="#" class="site-button button-3d m-r15">Get This Plan</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4">
                            <div class="pricingtable-wrapper active">
                                <div class="pricingtable-inner draw">
                                    <div class="pricingtable-title">
                                        <h3>Monthly subscription</h3>
                                        <p>We are passionate about our clients. Pricing subject to volume.</p>
                                    </div>
                                    <div class="pricingtable-price"> 
                                        <span class="pricingtable-bx">$199</span> 
                                        <span class="pricingtable-type">Month</span> 
                                    </div>
                                    <ul class="pricingtable-features">
                                        <li><i class="fa fa-check"></i> New Yoga Classes Added Weekly</li>
                                        <li><i class="fa fa-check"></i> Practice Yoga Anytime, Anywhere</li>
                                        <li><i class="fa fa-check"></i> Save 15% Instantly</li>
                                        <li><i class="fa fa-check"></i> Technical Support </li>
                                        <li><i class="fa fa-check"></i> Much more..</li>
                                    </ul>
                                    <div class="pricingtable-footer"> 
                                        <a href="#" class="site-button button-3d m-r15">Get This Plan</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 col-md-4 col-lg-4 col-xl-4">
                            <div class="pricingtable-wrapper ">
                                <div class="pricingtable-inner draw">
                                    <div class="pricingtable-title">
                                        <h3>Annual subscription</h3>
                                        <p>We are passionate about our clients. Pricing subject to volume.</p>
                                    </div>
                                    <div class="pricingtable-price"> 
                                        <span class="pricingtable-bx">$299</span> 
                                        <span class="pricingtable-type">Month</span> 
                                    </div>
                                    <ul class="pricingtable-features">
                                        <li><i class="fa fa-check"></i> New Yoga Classes Added Weekly</li>
                                        <li><i class="fa fa-check"></i> Practice Yoga Anytime, Anywhere</li>
                                        <li><i class="fa fa-check"></i> Save 15% Instantly</li>
                                        <li><i class="fa fa-check"></i> Technical Support </li>
                                        <li><i class="fa fa-check"></i> Much more..</li>
                                    </ul>
                                    <div class="pricingtable-footer"> 
                                        <a href="#" class="site-button button-3d m-r15">Get This Plan</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Content END-->
            </div>	 #}
        </div>	
    </div>	
    <!-- Pricing END -->
    <!-- Testimoniay -->
    {# <div class="section-full overlay-primary-dark bg-img-fix content-inner-1 owl-dots-style parallax" style="background-image:url(images/background/bg3.jpg);">
        <div class="container">
            <div class="section-head text-white text-center">
                <h2 class="text-uppercase">Happy Clients</h2>
                <div class="dlab-separator bg-white"></div>
                <p>We are extremely happy with our results because our clients happy with our work. Here are some of our customers who have expressed their views.</p>
            </div>
            <div class="section-content">
                <div class="testimonial-two owl-loaded owl-theme owl-carousel">
                    <div class="item">
                        <div class="testimonial-2">
                            <div class="testimonial-text">
                                <p>Winkit was extremely creative and forward thinking. They are also very quick and efficient when executing changes for us. Winkit has proven to be an excellent choice for us.  I found their expertise to be extremely helpful.</p>
                            </div>
                            <div class="testimonial-detail clearfix text-white">
                                <div class="testimonial-pic quote-left radius shadow"><img src="images/testimonials/pic1.jpg" width="100" height="100" alt=""></div>
                                <strong class="testimonial-name">David Matin</strong> <span class="testimonial-position">Student</span> 
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial-2">
                            <div class="testimonial-text">
                                <p>Winkit was extremely creative and forward thinking. They are also very quick and efficient when executing changes for us. Winkit has proven to be an excellent choice for us.  I found their expertise to be extremely helpful.</p>
                            </div>
                            <div class="testimonial-detail clearfix text-white">
                                <div class="testimonial-pic quote-left radius shadow"><img src="images/testimonials/pic2.jpg" width="100" height="100" alt=""></div>
                                <strong class="testimonial-name">David Matin</strong> <span class="testimonial-position">Student</span> 
                            </div>
                        </div>
                    </div>
                    <div class="item">
                        <div class="testimonial-2">
                            <div class="testimonial-text">
                                <p>Winkit was extremely creative and forward thinking. They are also very quick and efficient when executing changes for us. Winkit has proven to be an excellent choice for us.  I found their expertise to be extremely helpful.</p>
                            </div>
                            <div class="testimonial-detail clearfix text-white">
                                <div class="testimonial-pic quote-left radius shadow"><img src="images/testimonials/pic3.jpg" width="100" height="100" alt=""></div>
                                <strong class="testimonial-name">David Matin</strong> <span class="testimonial-position">Student</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> #}
    <!-- Testimoniay END -->
    <!-- NOTES - Our Latest Blog -->
    <div class="section-full bg-white content-inner-1" id="notes">
        <div class="container">
            <div class="section-head text-black text-center">
                <h2 class="text-uppercase">Our Latest Blog</h2>
                <div class="dlab-separator bg-primary"></div>
                <p>These are some of our recent design projects and we are so excited to show them to you. Work on the best projects for the best clients.</p>
            </div>
            
            
            <div class="section-content">
                <div class="blog-carousel mfp-gallery gallery owl-loaded owl-none owl-theme owl-carousel owl-dots-style">
                {% for article  in articles %}
                    <div class="item">
                        <div class="ow-blog-post">
                            <div class="ow-post-media dlab-img-effect zoom-slow" > <img src="{{ vich_uploader_asset(article, 'imageFile')  }}" width="400" height="500" alt=""> </div>
                            <div class="ow-post-info ">
                                <div class="ow-post-title">
                                    <h5 class="post-title"> <a href="{{ path ('article', {slug:article.slug}) }}" title="Video post">{{article.title}}</a> </h5>
                                </div>
                                <div class="ow-post-meta">
                                    <ul>
                                        <li class="post-date"> <i class="fa fa-calendar"></i><strong>{{article.dateCreation|date('d/m/Y')}}</strong> <span> 2016</span> </li>
                                        <li class="post-author"><i class="fa fa-user"></i>By <a href="#" title="Posts by demongo" rel="author">{{ article.author }}</a> </li>
                                    </ul>
                                </div>
                                <div class="ow-post-text">
                                    <p>{{ (article.text|length > 150 ? article.text|slice(0, 150) ~ '…' : article.text) }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
            
        </div>
    </div>
    <!-- Our Latest Blog END -->

    <!-- Contact -->
    <div class="section-full bg-white" id="contact">
        <div class="row dzseth bg-gray">
            {# <div class="col-xl-6 col-lg-4 p-lr0">
                <iframe class="seth" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d461366.9341658761!2d75.78083751400216!3d25.39044087456868!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x396f9b30c41bb44d%3A0x5f5c103200045588!2sKota%2C+Rajasthan!5e0!3m2!1sen!2sin!4v1507634116194" style="border:0; width:100%; min-height:300px;" allowfullscreen></iframe>
            </div> #}
            <div class="container bg-gray">
                <div class="content-inner-1">
                    <div class="section-head text-center">
                        <h2 class="text-uppercase">Contact </h2>
                        <div class="dlab-separator bg-primary"></div>
                        <p class="max-w500 m-auto m-b0">If you have any questions, you can contact with me so that i can give you a satisfying answer.</p>
                    </div>
                    <div class="p-lr30 clearfix m-b30 contact-style-1">
                        <div class="row justify-content-center">
                            <div class="col-7">
                                <div class="dzFormMsg"></div>
                                <form method="post" class="dzForm" action="{{ path('contact') }}">
                                <input type="hidden" value="Contact" name="whichform" >
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input name="lastname" type="text" required class="form-control" placeholder="Your Last Name">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input name="firstname" type="text" required class="form-control" placeholder="Your First Name">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <div class="input-group"> 
                                                    <input name="email" type="email" class="form-control"  required  placeholder="Your Email" >
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <input name="subject" type="text" required class="form-control"  placeholder="Subject">
                                                </div>
                                            </div>
                                        </div>
                                            <div class="col-lg-12">
                                            <div class="form-group">
                                                <div class="input-group">
                                                    <textarea name="message" rows="4" class="form-control" required placeholder="Your Message..."></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        {# <div class="col-lg-12">
                                            <div class="form-group recaptcha-box">
                                                <div class="input-group">
                                                    <div class="g-recaptcha" data-sitekey="<!-- Put reCaptcha Site Key -->" data-callback="verifyRecaptchaCallback" data-expired-callback="expiredRecaptchaCallback"></div>
                                                    <input class="form-control d-none" style="display:none;" data-recaptcha="true" required data-error="Please complete the Captcha">
                                                </div>
                                            </div>
                                        </div> #}
                                        <div class="col-lg-12">
                                            <button name="submit" type="submit" value="Submit" class="site-button "> <span>Submit</span> </button>
                                        </div>
                                    </div><!--/row-->
                                </form>
                            </div><!--/col-7-->
                        </div><!--/row-->
                    </div><!--/p-lr30-->
                    {# <div class="p-lr15 row dlab-contact m-lr0">
                        <div class="col-lg-4 col-md-4 col-sm-4 m-b15">
                            <div class="icon-bx-wraper bx-style-1 p-a15 center col">
                                <div class="icon-bx-sm bg-primary m-b20 radius"> <a href="#" class="icon-cell"><i class="fa fa-phone"></i></a> </div>
                                <div class="icon-content">
                                    <h5>Phone</h5>
                                    <p>+91 564 548 4854</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 m-b15">
                            <div class="icon-bx-wraper bx-style-1 p-a15 center col">
                                <div class="icon-bx-sm bg-primary m-b20 radius"> <a href="#" class="icon-cell"><i class="fa fa-envelope"></i></a> </div>
                                <div class="icon-content">
                                    <h5>Email</h5>
                                    <p>info@example.com</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-4 col-sm-4 m-b15">
                            <div class="icon-bx-wraper bx-style-1 p-a15 center col">
                                <div class="icon-bx-sm bg-primary m-b20 radius"> <a href="#" class="icon-cell"><i class="fa fa-map-marker"></i></a> </div>
                                <div class="icon-content">
                                    <h5>Address</h5>
                                    <p>252 W 43rd St New</p>
                                </div>
                            </div>
                        </div>
                    </div> #}
                </div><!--/content inner-1-->
            </div><!--/container-->
        </div><!--/row-->
    </div><!--/section-->
    <!-- Contact END -->

</div><!--/page content-->


{% endblock %}

