{% extends 'base.html.twig' %}

{% block title %}New article{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link href="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote.min.css" rel="stylesheet">
{% endblock %}

{% block body %}

<div class="row" >
    <div class="col-2">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link" id="v-pills-home-tab"  href="#" role="tab" aria-controls="v-pills-home" aria-selected="true">Home</a>
            <a class="nav-link active" id="v-pills-addArticle-tab"  href="{{ path('create_article') }}" role="tab" aria-controls="v-pills-article" aria-selected="false">Add Article</a>
            <a class="nav-link" id="v-pills-contact-tab"  href="#" role="tab" aria-controls="v-pills-contact" aria-selected="false">Contact</a>
            <a class="nav-link" id="v-pills-settings-tab"  href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</a>
        </div>
    </div>
    <div class="col-10 p-5 ">
        {% if nouveau %}
            <h2 class="text-uppercase  text-center">Create new article</h2>
            
        {% else %}
            <a href="{{ path('create_article', {id: article.id, action: 'delete'}) }} " class="text-danger float-right btn">Supprimer</a>
            <h2 class="text-uppercase"> {{ article.title }}</h2>
        {% endif %}
        {# <div class="dlab-separator bg-primary text-center"></div> #}
        {{form(form)}}

        {# upload images without Vich #}
        {# <img src="{{ asset('uploads/images/featured/' ~ article.featuredImage) }}" alt=""> #}
    </div>
</div>


{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/summernote@0.8.16/dist/summernote.min.js"></script>
    <script src="{{ asset('js/summernote.js') }}"></script>

{% endblock %}