{% extends 'base.html.twig' %}

{% block title %}Yom Blog - {{article.title}} {% endblock %}
{% block description %}{{{{ article.text|striptags|length > 300 ? article.text|striptags|easyadmin_truncate(300, true, "...")|raw  : article.text|striptags|raw }}}}{% endblock %}

{% block facebook %}
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{ article.title }}">
    <meta property="og:description" content="{{ article.text|striptags|length > 300 ? article.text|striptags|easyadmin_truncate(300, true, "...")|raw  : article.text|striptags|raw }}">
    <meta property="og:url" content="{{ path('article',{ slug: article.slug }) }}">
    <meta property="og:site_name" content="YOM - yoga on/off the mat">
    <meta property="fb:app_id" content="259443575421830" />
{% endblock %}

{% block ogimage %}
    <meta property="og:image" content="{{ vich_uploader_asset(article, 'imageFile') }}">
{% endblock ogimage %}

{% block body %}

    <!-- inner page banner END -->
    <div class="content-area bg-white">
        <div class="container ">
            <div class="row">
                <!-- Left part start -->
                <div class="col-lg-9 col-md-8">
                    <!-- blog start -->
                    <div class="blog-post blog-single">
                        <div class="dlab-post-title ">
                            <h1 class="post-title m-t0 text-center"><a href="#">{{article.title}}</a></h1>
                        </div>
                        <div class="dlab-post-meta m-b20 text-center">
                            <ul>
                                <li class="post-date"> <i class="ti-calendar"></i><strong>{{ article.dateCreation|date('d/m/Y')}}</strong> </li>
                                <li class="post-author"><i class="ti-user"></i>By <a href="#">{{ article.author}}</a> </li>
                                <li class="post-comment"><i class="ti-comment-alt"></i> <a href="#">{{ article.getComments|length }}</a> </li>
                            </ul>
                        </div>
                        
                        <div class="dlab-post-media dlab-img-effect"> <a href="#"><img src="{{ vich_uploader_asset(article, 'imageFile') }}" alt="Image"></a> </div>
                        <div class="dlab-post-text">
                            <p>{{ article.text|raw   }}</p>   
                        </div>
                        <!--Facebook share button-->
                        <div class="fb-share-button" data-href="{{ path('article',{ slug: article.slug }) }}" data-layout="button_count" data-size="small">
                            <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fwww.yom-yoga.com%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a>
                        </div>
                    </div>

                    <div class="clear" id="comment-list">
                        <div class="comments-area" id="comments">
                            <h2 class="comments-title">Comments</h2>
                            <div class="clearfix">
                                {% for comment in article.comments %}
                                <ol class="comment-list">
                                    <li class="comment" id="comment-{{ comment.id }}">
                                        <div class="comment-body">
                                            <div class="comment-author vcard"> 
                                                <!-- <img  class="avatar photo" src="{{ asset('images/testimonials/pic1.jpg') }}" alt=""> -->
                                                <cite class="fn"> {{ comment.author}}</cite> <span class="says">says:</span> </div>
                                                <div class="comment-meta"> <a href="#">{{ comment.dateCreation|date('d/m/Y') }}</a> </div>
                                                <p>{{ comment.comment }} </p>
                                                {# <div class="reply"> <a href="#respond" class="comment-reply-link">Reply</a> </div> #}
                                        </div>
                                    </li>
                                </ol>
                                {% endfor %}
                                <!-- comment list END -->
                                <!-- Form -->
                                <div class="comment-respond mb-5" id="respond">
                                    <h4 class="comment-reply-title" id="reply-title">Leave a Reply  </h4>
                                    <form class="comment-form" id="commentform" method="post" >
                                        <p class="comment-form-author">
                                            <label for="author">Name</label>
                                            <input type="text" required class="form-control" name="author"  placeholder="Author" id="author">
                                        </p>
                                        <p class="comment-form-email">
                                            <label for="email">Email</label>
                                            <input type="text" required class="form-control" placeholder="Email" name="email" id="email">
                                        </p>
                                        <p class="comment-form-comment">
                                            <label for="comment">Comment</label>
                                            <textarea rows="8" required class="form-control" name="comment" placeholder="comment" id="comment"></textarea>
                                        </p>
                                        <p class="form-submit">
                                        <label for="submit">Send</label>
                                            <input type="submit" class="submit" id="submit" name="submit" value="post comment">
                                        </p>
                                    </form>
                                </div>
                                <!-- Form -->
                            </div>
                        </div>
                    </div>
                    <!-- blog END -->
                </div>
                <!-- Left part END -->
                <!-- Side bar start -->
                
               
                <div class="col-lg-3 col-md-4 sticky-top pt-4">
                    <aside  class="side-bar">
                        <div class="widget recent-posts-entry">
                            <h6 class="widget-title style-1">Recent Posts</h6>
                            {# {% for recentPost in 1..3 %} #}
                            {% for recentPost in recentArticles %}
                            {# {% for recentPost in recentArticles if recentPost.id != article.id %} #}
                            <div class="widget-post-bx">
                                <div class="widget-post clearfix">
                                    <div class="dlab-post-media"> <img src="{{ vich_uploader_asset(recentPost, 'imageFile')|imagine_filter('carre')  }}"  alt="{{ recentPost.title }}"> </div>
                                    
                                    <div class="dlab-post-info">
                                        <div class="dlab-post-header">
                                        
                                            <h6 class="post-title"><a href="{{ path('article', {slug:recentPost.slug}) }}">{{recentPost.title}}</a></h1></h6>
                                        </div>
                                        <div class="dlab-post-meta">
                                            <ul>
                                                <li class="post-author">By {{recentPost.author}}</li>
                                                <li class="post-comment"><i class="ti-comment-alt"></i>{{ recentPost.getComments|length }}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {# {% endfor %} #}
                            {% endfor %}
                        </div>
                    </aside>
                </div>
                <!-- Side bar END -->
            </div>
        </div>
    </div>

<!-- Content END-->
{% endblock %}