<!DOCTYPE html>
<html lang="en">
    {% set currentPage = app.request.attributes.get('_route') %}
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-165915876-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-165915876-1');
        </script>

        <!-- MOBILE SPECIFIC -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <meta name="Content-Language" content="en">
        <meta name="keywords" content="yoga, well-being, exercise, movement, workout, spiritual, yoga studio, yoga classes, hatha yoga, vinyasa yoga, yoga nidra, meditation, relaxation, workshops,events, aarhus, denmark, czech,yoga teacher">
        <meta name="author" content="Hana Hnilicova">

        <title>{% block title %}YOM - yoga on/off the mat | by Hana Hnilicova{% endblock %}</title>
        <meta name="description" content="{% block description %}Cultivate inner stillness and beauty. Build strenght, stability and flexibility. Reconnect to yourself and recharge. Live YOM yoga on and off the mat.{% endblock %}">
        
        {% block facebook %}
        <meta property="og:locale" content="en_US">
        <meta property="og:type" content="website">
        <meta property="og:title" content="{{ block('title') }}">
        <meta property="og:description" content="Cultivate inner stillness and beauty. Build strenght, stability and flexibility. Reconnect to yourself and recharge. Live YOM yoga on and off the mat.">
        <meta property="og:url" content="https://yom-yoga.com/">
        <meta property="og:site_name" content="YOM - yoga on/off the mat">
        <meta property="fb:app_id" content="259443575421830" />
        {% endblock %}
        
        {% block ogimage %}
            <meta property="og:image" content="{{ asset('images/hanka.jpg') }}">
        {% endblock ogimage %}

        <!-- FAVICONS ICON -->
        <link rel="icon" type="image/png" sizes="150x150" href="{{ asset('images/logoYom1.png') }}">
        <link rel="shortcut icon" type="image/x-icon"  sizes="150x150" href="{{ asset('images/logoYom1.png') }}" />
       
        {% block stylesheets %}
        <!-- STYLESHEETS -->
         <link rel="stylesheet" type="text/css" href="{{ asset('plugins/bootstrap/css/bootstrap.min.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/plugins.css') }}">
	    <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}">
        
        <link class="skin"  rel="stylesheet" type="text/css" href="{{ asset('css/skin/skin-1.css') }}">
        <link rel="stylesheet" href="{{ asset('css/templete.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('css/styles.css') }}">
        {# <link rel="stylesheet" href="{{ asset('css/templete.min.css') }}"> #}

        <!-- REVOLUTION SLIDER CSS -->
        {# pas trouve dans docs <link rel="stylesheet" type="text/css" href="css/layers.css"> #}
        <link rel="stylesheet" type="text/css" href="{{ asset('../plugins/revolution/revolution/css/settings.css') }}">
        <link rel="stylesheet" type="text/css" href="{{ asset('../plugins/revolution/revolution/css/navigation.css') }}">
        {% endblock %}
    </head>

    <body>
        <div id="loading-area"></div>
        <div class="page-wraper">

            <!--facebook share-->
            <div id="fb-root"></div>
            <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v7.0&appId=259443575421830&autoLogAppEvents=1"></script>

            {#Header#}

                {{ render(controller('App\\Controller\\YomController::header', { currentPage: currentPage })) }}
                
                {# {% include 'yom/header.html.twig' %} #}
                
                {% for label, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ label }} alert-dismissible fade show" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">x</span></button>
                        </div>
                    {% endfor %}
                {% endfor %}
          
            {% block body %}
                
            {% endblock %}

            {#Footer#}
                {% include 'yom/footer.html.twig' %}

            <!-- scroll top button -->
            <button class="scroltop fa fa-arrow-up" ></button>
            
        </div>

        {% block javascripts %}
        <!-- JavaScript  files -->
        <script src="{{ asset('js/jquery.min.js') }}"></script><!-- JQUERY.MIN JS -->
        <script src="{{ asset('js/parallax.min.js') }}"></script>
        <script src="{{ asset('js/parallax.js') }}"></script>
        <script src="{{ asset('plugins/bootstrap/js/popper.min.js') }}"></script><!-- POPPER.MIN JS -->
        <script src="{{ asset('plugins/bootstrap/js/bootstrap.min.js') }}"></script><!-- BOOTSTRAP.MIN JS -->
        <script src="{{ asset('plugins/bootstrap-select/bootstrap-select.min.js') }}"></script><!-- FORM JS -->
        <script src="{{ asset('plugins/bootstrap-touchspin/jquery.bootstrap-touchspin.js') }}"></script><!-- FORM JS -->
        <script src="{{ asset('plugins/magnific-popup/magnific-popup.js') }}"></script><!-- MAGNIFIC-POPUP JS -->
        <script src="{{ asset('plugins/counter/waypoints-min.js') }}"></script><!-- WAYPOINTS JS -->
        <script src="{{ asset('plugins/counter/counterup.min.js') }}"></script><!-- COUNTERUP JS -->
        <script src="{{ asset('plugins/imagesloaded/imagesloaded.js') }}"></script><!-- MASONRY  -->
        <script src="{{ asset('plugins/masonry/masonry-3.1.4.js') }}"></script><!-- MASONRY  -->
        <script src="{{ asset('plugins/masonry/masonry.filter.js') }}"></script><!-- MASONRY  -->
        <script src="{{ asset('plugins/owl-carousel/owl.carousel.js') }}"></script><!-- OWL  SLIDER  -->
        <script src="{{ asset('plugins/wow/wow.js') }}"></script><!-- WOW JS -->
        <script src="{{ asset('plugins/loading/anime.js') }}"></script><!-- LOADING JS -->
        <script src="{{ asset('plugins/loading/anime-app3.js') }}"></script><!-- LOADING JS -->    
        <script src="{{ asset('js/dz.carousel.js') }}"></script><!-- SORTCODE FUCTIONS  -->
        <script src="{{ asset('https://www.google.com/recaptcha/api.js')}}"></script> <!-- Google API For Recaptcha  -->
        <script src="{{ asset('js/dz.ajax.js') }}"></script><!-- Contact Us -->
        <!-- REVOLUTION JS FILES-->
        <script src="{{ asset('plugins/revolution/revolution/js/jquery.themepunch.tools.min.js') }}"></script>
        <script src="{{ asset('plugins/revolution/revolution/js/jquery.themepunch.revolution.min.js') }}"></script>
        <!-- Slider revolution 5.0 Extensions  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
        <script src="{{ asset('plugins/revolution/revolution/js/extensions/revolution.extension.actions.min.js') }}"></script>
        <script src="{{ asset('plugins/revolution/revolution/js/extensions/revolution.extension.carousel.min.js') }}"></script>
        <script src="{{ asset('plugins/revolution/revolution/js/extensions/revolution.extension.kenburn.min.js') }}"></script>
        <script src="{{ asset('plugins/revolution/revolution/js/extensions/revolution.extension.layeranimation.min.js') }}"></script>
        <script src="{{ asset('plugins/revolution/revolution/js/extensions/revolution.extension.migration.min.js') }}"></script>
        <script src="{{ asset('plugins/revolution/revolution/js/extensions/revolution.extension.navigation.min.js') }}"></script>
        <script src="{{ asset('plugins/revolution/revolution/js/extensions/revolution.extension.parallax.min.js') }}"></script>
        <script src="{{ asset('plugins/revolution/revolution/js/extensions/revolution.extension.slideanims.min.js') }}"></script>
        <script src="{{ asset('plugins/revolution/revolution/js/extensions/revolution.extension.video.min.js') }}"></script>
        <script  src="{{ asset('js/rev.slider.js') }}"></script>
        
        <script>
            jQuery(document).ready(function() {
                
                'use strict';
                dz_rev_slider_1();
                
            });	/*ready*/
        </script>

        <script src="{{ asset('js/custom.js') }}"></script>
        <!-- custom fuctions  -->

        

        {% endblock %}
    </body>

</html>
